---
layout: home
title: Home
description: "Okta developers"
weight: 1
position: nav
---


{% assign count = '0' %}
<div style="margin-left:2%;">
	<div id="section-{{count}}" class="twocolordiv">
		<div class="text">

			<h1 style="margin-top:20px;">Okta API</h1>
			<p>The User API provides operations for user management.</p>
			<p>&nsp;</p>
		</div>
	</div>

	
	
	{% for post in site.posts %}
{% capture count %}{{ count | plus: '1' }}{% endcapture %}
	<div id="section-{{count}}" class="twocolordiv">
		<div class="text">

			<h2 class="block-title">
				<a href="#" id="{{ post.title }}" class="title">{{ post.title }}</a>
			</h2>
			<hr class="brd-b" >
			{{ post.content }}
		</div>
	</div>
	{% endfor %}
</div>

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>