<!-- Closing wrapper div -->
</div>
</body>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="//use.typekit.net/pls8pog.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script src="{{ relative }}assets/js/jquery.js"></script>
<script src="{{ relative }}assets/dist/js/bootstrap.min.js"></script>
<!-- <script src="{{ relative }}assets/js/jquery.toc.min.js"></script>
<script src="{{ relative }}assets/js/tofc.js"></script>
<script src="{{ relative }}assets/js/jquery.fixedscroll.min.js"></script>
<script src="{{ relative }}assets/js/jquery-scrolltofixed-min.js"></script> -->
<script src="{{ relative }}assets/js/jquery-ui-1.10.3.custom.js"></script>
<script src="{{ relative }}assets/js/jquery.tocify.js"></script>
<script src="{{ relative }}assets/js/function.js"></script>
