<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="description" content="">
    <meta name="author" content="">
    {% if page.home %}
    <meta http-equiv="refresh" content="0;url=/documentation/index.html" />
    {% endif %}
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <title>Okta Developers</title>
    {% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
    {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/jquery.tocify.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    {% if page.css %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{ page.css }}.css" type="text/css" />
    {% endif %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    {{page.home}}
    <body data-spy="scroll" data-target="#sidebar">
        <!-- Static navbar -->
        <div class="navbar-wrapper">
            <div class="navbar navbar-fixed-top navbar-default ">
                <div class="container-non-responsive okta-navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ relative }}"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% for weight in (1..4) %}
                            {% for p in site.pages %}
                            {% if p.weight == weight %}
                            {% if p.position == 'nav' %}
                            {% if p.title != 'Home' %}
                            {% if p.url == page.url %}
                            <li class="active"><a href="{{p.url}}" data-num="{{p.weight}}" class="active">{{p.title}}</a></li>
                            {% else %}
                            <li><a href="{{p.url}}" data-num="{{p.weight}}">{{p.title}}</a></li>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper">