{% include header.html %}
<div class="container-non-responsive">
  <div class="row row-offcanvas row-offcanvas-right" id="f-wrapper">
    <div class="col-3 sidebar-offcanvas" id="sidebar">
      <noscript>
        {% capture no_js %}{% include no_js.md %}{% endcapture %}
        {{ no_js }}
    </noscript>
    </div>
    <div class="col-9 col-offset-3 docs-content" id="f-content">
      {% assign count = '0' %}
      <div style="margin-left:2%;">
        <div id="welcome" class="twocolordiv">
         {% capture welcome %}{% include welcome.md %}{% endcapture %}
         {{ welcome | markdownify }}
       </div>
       {% for current_folder in site.folder_priority %}
         <span class="hide page_block_name" data-block="{{ current_folder.text }}">{{ current_folder.text }}</span>
         {% for my_page in site.pages %}
          {% if my_page.category == current_folder.text %}
           {% for priority in (1..20) %}
           {% capture count %}{{ count | plus: '1' }}{% endcapture %}
             {% if my_page.position != 'nav' %}
               {% if my_page.priority == priority %}
               <div id="section-{{count}}" class="twocolordiv">
                 <div class="text">
                    {{ my_page.content }}
                  </div>
                </div>
                {% endif %}
              {% endif %}
          {% endfor %}
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
</html>