{% include header.html %}

<div class="container">
	<div class="side-container">
		<div class="row row-offcanvas row-offcanvas-right" id="f-wrapper">
			<div class="col-xs-3 col-md-3" id="sidebar-sdks">
				<ul id="menu-page" class="menu">
					<li class="h1-toc-depth"><a >Getting Started</a></li>

								{% for post in site.posts %}
								<li class="h2-toc-depth">
									<a href="{{ post.url }}">{{ post.title }}</a>
								</li>
								{% endfor %}
				</ul>
			</div>
			<div class="col-xs-9 col-md-9" style="background-color:white; border-left: 1px solid #ccc; min-height: 800px;">
				<div style="margin-left:2%;">
				{% capture home %}{% include home.md %}{% endcapture %}
				{{ home | markdownify }}
			</div>
			</div>
		</div>
	</div>
</div>


 {% include footer.html %} 