{% include header.html %}

<div class="container">
	<div class="side-container">
		<div class="row row-offcanvas row-offcanvas-right" id="f-wrapper">
			<div class="col-xs-3 col-md-3" id="sidebar-sdks">
				<ul>
					<li class="h1-toc-depth"><a>Content test</a></li>

								{% for my_page in site.pages %}
								{% if my_page.position != 'nav' %}
								<li class="h2-toc-depth">
									<a href="{{ my_page.url }}" data-position="{{my_page.position}}">{{ my_page.title }}</a>
								</li>
								{% endif %}
								{% endfor %}

					<li class="h1-toc-depth"><a>Get Started</a></li>

							<li class="h2-toc-depth"><a href="/">Get Started with Okta API</a></li>
							<li class="h2-toc-depth"><a href="../forum/">Developer Account FAQ</a></li>
							<li class="h2-toc-depth"><a>Branding Guidelines</a></li>

					<li class="h1-toc-depth"><a>SDKs</a>
						
					</li>

					<li class="h1-toc-depth"><a>Tutorials</a>
						
					</li>
				</ul>
			</div>
			<div class="col-xs-9 col-md-9" style="background-color:white; border-left: 1px solid #ccc; min-height: 800px;">
				<div style="margin-left:2%;">
					<div id="section-{{count}}">
						<h1 style="margin-top:20px;">Okta SDKs</h1>
					</div>
					{% if content == empty %}
					   <div class="default-post">
					   	<h2>Getting started with Okta</h2>
					   	<p>Unlike legacy identity management vendors, Okta is a complete solution that does not require custom extensions into each target application, device, or object. Key to Okta’s solution are thousands of public and private application integrations, built and maintained by Okta, that administrators can deploy in minutes.
					   	</p>
					   	<h2>Okta Application Network</h2>
					   	<p>
Spanning cloud, on-premises, enterprise, consumer, and even custom-built internal applications, the Okta Application Network (OAN) is a one-stop shop for enterprise identity integrations. Okta leverages each application’s API to build and maintain robust integrations that deliver federated single sign-on and automated user management. Deployment is easy because integrations are delivered through Okta’s GUI and require only minimal instance-specific information. This enables Okta to utilize whichever federation protocol the target application exposes through their API, without increasing complexity or the management burden for administrators. Further, Okta supports single sign-on for web-based applications that don’t have APIs through our own Secure Web Authentication protocol. Learn more.
					   	</p>
					   	<h2>Find Your Applications</h2>
					   	<p>

Based on customer requests, the OAN grows with weekly application additions. Search the Okta Application Network for your applications or request new application integrations.
					   	</p>

					   	<h2>Okta for One Application is Free</h2>
					   	<p>
Okta Cloud Connect is free. Designed to seamlessly connect a single critical application to Active Directory, Okta Cloud Connect delivers a full suite of features including federated single sign-on and automated user management. Even for one application, single sign-on delivers value through delegated authentication and/or Integrated Windows Authentication. With this solution, after users have logged into the domain, they don’t need to authenticate again to access the target application. There are no user count or time limitations—Okta Cloud Connect is free forever. Learn more.
					   	</p>
					   </div>
					{% endif %}
					{{content}}
				</div>
			</div>
		</div>
	</div>
</div>


 {% include footer.html %} 
